@using HiddenVilla_server.Model

<div class="bg-light border p-2 col-5 offset-1" @onclick="(args) => AmenitySelectionChanged(args, Amenities.Name)">
    <h4 class="text-secondary">Room - @Amenities.Id</h4>

    @Amenities.Name <br />
    @Amenities.Description<br />
    RF - @FirstFragment = @SecondFragment
</div>

@code {
    [Parameter]
    public BlazorAmenities Amenities { get; set; } 

    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }

    [Parameter]
    public RenderFragment FirstFragment { get; set; }

    [Parameter]
    public RenderFragment SecondFragment { get; set; }

    protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync((string)name);
    }

}
